/* Base Styles (Mobile First) */
header.wp-block-template-part,
footer.wp-block-template-part {
    padding-inline: 1.25rem;
}

header.wp-block-template-part .wp-block-group.site-header {
    outline: 1px solid var(--wp--preset--color--contrast) !important;
    border-radius: 2rem;
}

header.wp-block-template-part .site-header__branding .wp-block-site-title {
    display: none !important;
}

/* Tablet and up */
@media (min-width: 481px) {
    header.wp-block-template-part .site-header__branding .wp-block-site-title {
        display: block !important;
    }
    
    header.wp-block-template-part .wp-block-group.site-header {
        outline: none !important;
    }
}

/* Desktop */
@media (min-width: 991px) {
    header.wp-block-template-part,
    footer.wp-block-template-part {
        padding-inline: 3rem;
    }
} 