.header-content {
    outline: 1px solid var(--wp--preset--color--contrast) !important;
    border-radius: var(--nav-border-radius);
    padding: var(--header-mobile-spacing);
    gap: var(--header-mobile-spacing);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header Logo */
.header-logo {
    margin: 0;
    display: block;
}

.header-logo img {
    width: var(--header-logo-size);
    height: var(--header-logo-size);
    border-radius: 50%;
}

.header-logo a,
.header-branding .wp-block-image a {
    display: inline-block;
    vertical-align: bottom;
}

.header-branding .wp-block-site-title {
    display: none !important;
}

/* Navigation */
.wp-block-navigation {
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
}