/* Base Styles (Mobile First) */
header.wp-block-template-part,
footer.wp-block-template-part {
    padding-inline: 1.25rem;
}

header.wp-block-template-part .wp-block-group.site-header {
    outline: 1px solid var(--wp--preset--color--contrast) !important;
    border-radius: 2rem;
}

/* Header Logo Styles */
.site-header__logo {
    margin: 0;
}

.site-header__logo img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.site-header__branding .wp-block-site-title {
    display: none !important;
}

/* Navigation Styles */
header.wp-block-template-part nav.wp-block-navigation a {
    text-decoration: none;
    color: var(--wp--preset--color--contrast);
}

/* Tablet and up */
@media (min-width: 481px) {
    header.wp-block-template-part .site-header__branding .wp-block-site-title {
        display: block !important;
    }
    
    header.wp-block-template-part .wp-block-group.site-header {
        outline: none !important;
    }
}

/* Navigation hover styles - 768px and up */
@media (min-width: 768px) {
    header.wp-block-template-part nav.wp-block-navigation a {
        padding: 0.5em 1em;
        border-radius: 2rem;
        transition: all 0.3s ease;
    }

    header.wp-block-template-part nav.wp-block-navigation a:hover,
    header.wp-block-template-part nav.wp-block-navigation a:focus,
    .wp-block-navigation .wp-block-navigation-item__content:hover {
        background-color: var(--wp--preset--color--contrast);
        color: #ffffff !important;
    }
}

/* Desktop */
@media (min-width: 991px) {
    header.wp-block-template-part,
    footer.wp-block-template-part {
        padding-inline: 3rem;
    }
} 